html
	head
		title
			|414project
	body
		div
			|game
		div
			a(href="/game/singlePlayer") single player

		div#gameRooms

		script(src="/javascripts/socket.io.min.js")
		script(src="/javascripts/game.js")